# This code produces the nodes and edges data needed to create the email network visualization on gephi

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Complete_data.csv")

In [5]:
df.drop("Unnamed: 0",1,inplace = True)
df.fillna("Not Available", inplace = True)

In [6]:
df.columns

Index(['Date', 'From', 'To', 'Subject', 'Content'], dtype='object')

In [7]:
df = df[["From","To"]]

In [11]:
pairs = []
for a,b in zip(df["From"],df["To"]):
    pairs.append([a,b])

In [12]:
for i in pairs:

['krystal@cobank.com', 'johnpodesta@gmail.com']

In [14]:
different = df["From"].unique()

In [15]:
different

array(['william.m.daley@jpmchase.com', 'rrineroweargillaceous@gwws.com',
       'john.podesta@gmail.com', ..., 'tsekeris@gmail.com',
       'trent holbrook@yahoo.com', 'mallikbanda@hotmail.com'], dtype=object)

In [19]:
different2 = df["To"].unique()

In [20]:
different2

array(['not available', 'johnpodesta@gmail.com', 'peter.huffman@gmail.com',
       ...,
       'mrooney@hillaryclinton.com arenteria@hillaryclinton.com lpraeli@hillaryclinton.com ssolow@hillaryclinton.com jsullivan@hillaryclinton.com oshur@hillaryclinton.com speechdrafts@hillaryclinton.com',
       'speechbook@hillaryclinton.com speechdrafts@hillaryclinton.com sbard@hillaryclinton.com',
       'john.podesta@gmail.com nadadurvardhan@yahoo.com'], dtype=object)

In [26]:
count = 0
for i in different2:
    if " " in i:
        count+=1

In [48]:
x = list(df.index)
multiple_emails = []
for i in x:
    if " " in df["To"][i]:
        multiple_emails.append(i)

In [54]:
pairs_multiple_emails = []
for i in multiple_emails:
    x = df["To"][i].split(' ')
    for email in x:
        pairs_multiple_emails.append([df["From"][i],email])

In [56]:
for i in multiple_emails:
    df.drop([i], inplace = True)

In [58]:
pairs = []
for a,b in zip(df["From"],df["To"]):
    pairs.append([a,b])

In [60]:
all_interactions = pairs + pairs_multiple_emails

In [61]:
len(all_interactions)

169596

In [110]:
fixed_df = pd.DataFrame(all_interactions, columns = ["To","From"])
x = list(fixed_df.index)
for i in x:
    if fixed_df["From"][i] == "more":
        fixed_df.drop([i], inplace = True)
    elif fixed_df["From"][i] == "" or fixed_df["To"][i] == "":
        fixed_df.drop([i], inplace = True)

In [ ]:
fixed_df.head()

In [112]:
all_emails = set(list(fixed_df["From"]) + list(fixed_df["To"]))

In [113]:
df_emails = pd.DataFrame(list(all_emails), columns = ["email"])

In [114]:
df_emails.head()

                              email
0  frontondaro@americanprogress.org
1               lkramer@hewlett.org
2   cferguson@clintonfoundation.org
3          dromer@econ.berkeley.edu
4    mthompson@americanprogress.org

In [125]:
email_dictionary = {}
for a,b in enumerate(df_emails["email"]):
    email_dictionary[b] = a

In [126]:
fixed_df.head()

                               To                     From
0  rrineroweargillaceous@gwws.com    johnpodesta@gmail.com
1          john.podesta@gmail.com  peter.huffman@gmail.com
2              krystal@cobank.com    johnpodesta@gmail.com
3          john.podesta@gmail.com  pauline.green@gmail.com
4          john.podesta@gmail.com      bobkiss@verizon.net

In [ ]:
fixed_df = fixed_df.apply(lambda x: email_dictionary{x})

In [131]:
new_fixed_df = fixed_df.replace({"To": email_dictionary,"From":email_dictionary})

In [138]:
new_fixed_df.columns = ["Source","Target"]

In [139]:
new_fixed_df

        Source  Target
0         6716    4892
1         5512    5186
2          506    4892
3         5512    9417
4         5512    6166
5         5512    5397
6         5512    5369
7         3839    5512
8         3765    5512
9         3839    5512
10        3839    5512
11        2951    4892
12        5512    1973
13        4489    5512
14        4489    5512
15        4489    5512
16        5512    4489
17        4489    5512
18        4489    5512
19        5512    6426
20        5512    5369
21        6426    5512
22        3145    5512
23        1204    6517
24        1204    6517
25        5512    6426
26        5512    1973
27        6426    5512
28        4489    5512
29        5512    4489
...        ...     ...
169565    1080    4193
169566    1080    9636
169567    1080    1358
169569    1080    5512
169570    3456    5512
169571    3456    5147
169572    5790    4193
169573    5790    4755
169574    5790    2433
169575    5790    3672
169576    2433    1222
169577    2433    4193
169578    2433    4755
169579    2433    3672
169580    1222    2433
169581    1222    9241
169582    1222    3534
169583    1222    7526
169584    1222    4193
169585    1222    4755
169586    1222    3672
169587    1080    7419
169588    1080    3672
169589    1080    9141
169590    5206    5512
169591    5206    6818
169592    5735    5512
169593    5735    1222
169594    5735    5512
169595    5735    1222

[166869 rows x 2 columns]

In [153]:
new_fixed_df.to_csv("Edges.csv")
df_emails.to_csv("Nodes.csv")

In [151]:
x = list(df_emails.index)
for i in x:
    df_emails["email"][i] = df_emails["email"][i].partition("@")[0]

In [152]:
df_emails

                     email
0              frontondaro
1                  lkramer
2                cferguson
3                   dromer
4                mthompson
5                  fshakir
6             lisa.rickert
7                   pcheng
8                    jheld
9                  dshimer
10         stephenneuwirth
11          commsvolunteer
12                    info
13         customersupport
14                stewartd
15            minyon.moore
16              primo.cruz
17          americanvalues
18              fisher.joe
19           danielrajaiah
20                 kktowns
21        danielle.rhoades
22             lillianchoi
23                    saez
24                 lawdean
25            bridgetansel
26                  amazon
27                   megan
28         tonigverstandig
29               hkirstein
...                    ...
9710              rburrell
9711           justin.katz
9712                 esepp
9713            frotondaro
9714            cmiddleton
9715                mfiore
9716       mark.mccullough
9717            acs.survey
9718                 popem
9719          matgoldstein
9720                julian
9721  allianceforabettermn
9722              grorudck
9723               wmd0848
9724             gerryshea
9725             jbenenson
9726               jnorris
9727           debbruno333
9728               pnsegal
9729                 emg86
9730                ll1157
9731               harryzt
9732             moniklain
9733         dissemination
9734                giving
9735               kschake
9736           awoolheater
9737             jhallahan
9738                 tommy
9739              ori93623

[9740 rows x 1 columns]